@font-face {font-family: "HelveticaNeueLTStd35Thin";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/HelveticaNeueLTStd35Thin.eot");
    src: url("../fonts/HelveticaNeueLTStd35Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueLTStd35Thin.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLTStd35Thin.woff") format("woff"),
    url("../fonts/HelveticaNeueLTStd35Thin.ttf") format("truetype"),
    url("../fonts/HelveticaNeueLTStd35Thin.svg#Helvetica Neue LT Std") format("svg");
}
@font-face{
    font-family: "HelveticaNeue45Light";
    display: swap;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/HelveticaNeue45Light.eot");
    src: url("../fonts/HelveticaNeue45Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue45Light.woff2") format("woff2"),
    url("../fonts/HelveticaNeue45Light.woff") format("woff"),
    url("../fonts/HelveticaNeue45Light.ttf") format("truetype"),
    url("../fonts/HelveticaNeue45Light.svg#Helvetica Neue LT Std") format("svg");
}
@font-face {
	font-family: "NimbusSansTBold";
    display: swap;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/NimbusSansTBoldCondensed.eot");
    src: url("../fonts/NimbusSansTBoldCondensed.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NimbusSansTBoldCondensed.woff2") format("woff2"),
    url("../fonts/NimbusSansTBoldCondensed.woff") format("woff"),
    url("../fonts/NimbusSansTBoldCondensed.ttf") format("truetype"),
     url("../fonts/NimbusSansTBoldCondensed.svg#NimbuSanTBolCon") format("svg");
}
@font-face{
    font-family: "HelveticaNeueBold";
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/HelveticaNeueCyr-Bold.eot");
    src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
}

$font1: "HelveticaNeueLTStd35Thin", sans-serif;
$font2: "HelveticaNeue45Light", sans-serif;
$font-bold1: "HelveticaNeueBold", sans-serif;
$font-bold2: "NimbusSansTBold", sans-serif;

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?96196211');
  src: url('../fonts/fontello.eot?96196211#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?96196211') format('woff2'),
       url('../fons/fontello.woff?96196211') format('woff'),
       url('../fonts/fontello.ttf?96196211') format('truetype'),
       url('../fonts/fontello.svg?96196211#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-left:before { content: '\e800'; } /* '' */
.icon-google:before { content: '\e801'; } /* '' */
.icon-play:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */